# Operators

What is the remainder of 102132 divided by 78

In [29]:
102132%78

30

In [8]:
# %load solutions/mod.py
102132 % 78

30

Calculate 3.14^2

In [30]:
3.14**2

9.8596

In [9]:
# %load solutions/pi_cubed.py
3.14 ** 2

# Data Types


Create of list of numbers from 1 to 5

In [31]:
r = range(1,6)
list(r)

[1, 2, 3, 4, 5]

In [10]:
# %load solutions/five_numbers.py
list(range(1,6))

Create a tuple of numbers from 5 to 10

In [32]:
r = range(5,11)
tuple(r)

(5, 6, 7, 8, 9, 10)

In [11]:
# %load solutions/five_tuple.py
tuple(range(1,6))

What's are the differences between a list and an tuple?

List are mutable where as tuples are immutable

What datatypes are each of the following brakets used for in python, `()`, `[]` and `{}` ?

* [] - used to create list
* () - used to create tuples
* {} used to create dictionaries and sets

Create a dictionary with one entry

In [34]:
d = {'a':1}
d

{'a': 1}

In [12]:
# %load solutions/single_dict.py
d = {"chicken":1}

Add a new entry to the dictionary

In [35]:
d['b'] = 2
d

{'a': 1, 'b': 2}

In [13]:
# %load solutions/add_entry.py
d["chips"] = 10

Why is the output of the bellow '42' and not  6?
```python
>>> '4' + '2'
'42
```

Because '4' and '2' are string types not number types.

Calculate the sum of the bellow numbers.

In [39]:
s1 = "153849513"
list(s1)
s2 = [int(i) for i in s1]
sum(s2)

39

In [1]:
# %load solutions/sum_strings.py

# Logic and Loops

Loop over the list `l` and if the number is even print it

In [40]:
l = [1,15,73,6,3,3,242,4,2,8,45,7,3]
for i in l:
    if i % 2 == 0:
        print(i)

6
242
4
2
8

In [15]:
# %load solutions/print_even.py
for n in l:
    if n % 2 ==0:
        print(n)

Calculate the sum of  odd numbers in the list `x`.

In [17]:
x = [3,4,6,2,6,2,5,8,9,2,4,5,7,9]
odd = []
for i in x:
    if i % 2 != 0:
        odd.append(i)
sum(odd)

38

In [20]:
total = 0
for i in x:
    if i % 2 != 0:
        total = total + i
print(total)

38

In [16]:
# %load solutions/sum_odd.py
total = 0
for n in x:
    if n % 1 ==0:
        total += n

# Letter and Digit Counts

Write a program that accepts a string and counts the number of letters and digits. Suppose the following string is supplied to the program:
`hello world! 123`

The output should be
```
Letters: 10
Digits: 3

```

Hint: use .isdigit() and .isalpha() methods on thee string.  Use the string `Hi, I'm Jack! I'm 23 years old and my number is 9855 2389.` as an input.

In [22]:
string = "Hi, I'm Jack! I'm 23 years old and my number is 9855 2389."
def counter(strg):
    digits = []
    letters = []
    l = list(string) 
    for i in l:
        if i.isalpha():
            letters.append(i)
        if i.isdigit():
            digits.append(i)
    print("Letters: ", len(letters))
    print("Digits: ", len(digits))

In [23]:
counter(string)

Letters:  31
Digits:  10

In [24]:
# %load solutions/count_alphanum.py

d = {"Letters":0,"Digits":0}

for char in string:
    if char.isalpha():
        d["Letters"] +=1
    elif char.isdigit():
        d["Digits"] +=1

d

{'Digits': 10, 'Letters': 31}